
    body{
        background-color: rgb(196, 196, 196);
        }
    .p1{
        color: blueviolet;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24;
        }
    .p2{
        color: white;
        font-size: 20;
        }